{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>원란지시서</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'site/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/egg_main.css' %}?version=2">
</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">

                {% include 'site/partial_egg_order_list.html' %}

            </div>
        </div>
    </div>

    <div id="display-date" class="input-group">
        <div class="input-group-prepend ">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i>
            </div>
        </div>
        <input type="date" name="display_date" id="display_date" class="form-control" />
    </div>

</div>


<div class="modal fade " id="js-complete-modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-primary">
        <!-- Modal content-->
        <div class="modal-content">
        </div>
    </div>
</div>
</div>


</body>

<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/egg_index.js' %}?version=4"></script>

</html>

