{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>생산현장</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'site/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/nav_index.css' %}">
</head>
<body>

<section class="strips">

    <article class="strips__strip">
        <a href="/labor/egg">
            <div class="strip__content">
                <h1 class="strip__title" data-name="Lorem">원란지시서</h1>
            </div>
        </a>
    </article>

    <article class="strips__strip">
        <a href="/labor/product">
        <div class="strip__content">
            <h1 class="strip__title" data-name="Ipsum">생산지시서</h1>
        </div>
        </a>
    </article>

    <article class="strips__strip">
        <div class="strip__content">
            <h1 class="strip__title" data-name="Dolor">출하지시서</h1>
        </div>
    </article>

    <i class="fa fa-close strip__close"></i>
</section>


</body>

<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/nav_index.js' %}"></script>

</html>

