{% load humanize %}
{% load custom %}

{% for productOrder in productOrders %}
    <div class="row" data-id={{ productOrder.id }}>
        <div class="cell cellRight textCenter" data-title="제품명" >
            <div style="width : 230px;">{{ productOrder.codeName }}</div>
            <div>{{ productOrder.amount| stringformat:'d' }}KG / {{ productOrder.count }}개</div>
        </div>

        {% for detail in productOrder.detail.all %}
            {% if detail.orderLocationCode %}
                {% if detail.eaCount %}
                    <div class="cell cellRight" data-title="개수">
                        <div class="textCenter" style=" width: 10rem;">{{ detail.boxCount }}Box + {{  detail.eaCount}}Ea</div> <hr />
                        <div class="textCenter" style="width: 10rem;">{{ detail.orderLocationCodeName }}</div>
                    </div>
                {% else %}
                    <div class="cell cellRight" data-title="개수">
                        <div class="textCenter" style="width: 10rem;">{{ detail.boxCount }} Box</div> <hr />
                        <div class="textCenter" style="width: 10rem;">{{ detail.orderLocationCodeName }}</div>
                    </div>
                {% endif %}
            {% else %}
                {% if detail.eaCount %}
                    <div class="cell cellRight" data-title="개수">
                        <div class="textCenter" style=" width: 10rem;">{{ detail.boxCount }}Box + {{  detail.eaCount}}Ea</div> <hr />
                        <div class="textCenter" style="width: 10rem;">{{ productOrder.amount| stringformat:'d' }}KG</div>
                    </div>
                {% else %}
                    <div class="cell cellRight" data-title="개수">
                        <div class="textCenter" style="width: 10rem;">{{ detail.boxClunt }} Box</div> <hr />
                        <div class="textCenter" style="width: 10rem;">{{ productOrder.amount| stringformat:'d' }}KG</div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor%}
    </div>
{% empty %}
    <div class="row" data-id={{ egg.id }}>
        <div class="cell" data-title="입고처">
        </div>
        <div class="cell" data-title="원란명">
        </div>
        <div class="cell" data-title="입고일">
        </div>
        <div class="cell" data-title="지시량">
        </div>
        <div class="cell" data-title="출하량">
        </div>
        <div class="cell" data-title="지시메모">
        </div>
        <div class="cell" data-title="작업메모">
        </div>
    </div>
{% endfor %}