{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>생산(포장)지시서</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/buttonLoader.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker/bootstrap-datepicker.css' %}" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'site/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/product_main.css' %}">
</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">

                {% include 'site/partial_product_order_list.html' %}

            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="js-complete-modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-primary">
        <!-- Modal content-->
        <div class="modal-content">
        </div>
    </div>
</div>

<button class="open-button">생산등록</button>

<div class="form-popup" id="createForm">
    <form class="form-container">
        <h1>생산등록</h1>
        {{ productOrderForm.ymd|as_crispy_field }}
        <table>
            <tr>
                <td colspan="2">{{ productOrderForm.productCode|as_crispy_field }}</td>
            </tr>
            <tr>
                <td>{{ productOrderForm.count|as_crispy_field }}</td>
                <td>{{ productOrderForm.amount|as_crispy_field }}</td>
            </tr>
        </table>
        {{ productOrderForm.type|as_crispy_field }}
        {{ productOrderForm.memo|as_crispy_field }}
        <button type="submit" class="btn btn-default has-spinner">OK</button>
        <button type="button" class="btn cancel close-button">Close</button>
    </form>
</div>


</body>

<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/custom/datepicker.js' %}"></script>
<script src="{% static 'js/buttonLoader.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/js/product_index.js' %}?version=3"></script>
    {{ productOrderForm.media.js }}
</html>

