{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./../">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="kcfeed 수불부">
    <meta name="author" content="이승우">
    <meta name="keyword" content="케이씨피드,수불부,케이씨프레쉬">
    <title>KCFEED 수불부</title>
    <link href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h1>Login</h1>
                        <p class="text-muted">수불부 로그인</p>
                        {% include 'includes/loginForm.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>