{% for order in orders %}

    {% if order.types == '전란' %}
        <div class="col-md-12">
            <div class="card card-accent-success">
                <div class="card-header drag">
                    <span class="badge badge-success product-item" >
                    ({{ order.locationCodeName }}){{ order.codeName }}/수량:{{ order.count }}/BOX:{{ order.box }}/EA:{{ order.ea }}
                    </span>
                </div>
                <div class="input-data">
                    <input type="hidden" name="order_list_id" value="{{order.id}}"/>
                </div>
            </div>
        </div>
    {% elif order.types == '난백' %}
        <div class="col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header drag">
                    <span class="badge badge-primary product-item" >
                    ({{ order.locationCodeName }}){{ order.codeName }}/수량:{{ order.count }}/BOX:{{ order.box }}/EA:{{ order.ea }}
                    </span>
                </div>
                <div class="input-data">
                    <input type="hidden" name="order_list_id" value="{{order.id}}"/>
                </div>
            </div>
        </div>
    {% elif order.types == '난황' %}
        <div class="col-md-12">
            <div class="card card-accent-warning">
                <div class="card-header drag">
                    <span class="badge badge-danger product-item">
                    ({{ order.locationCodeName }}){{ order.codeName }}/수량:{{ order.count }}/BOX:{{ order.box }}/EA:{{ order.ea }}
                    </span>
                </div>
                <div class="input-data">
                    <input type="hidden" name="order_list_id" value="{{order.id}}"/>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="card card-accent-secondary">
                <div class="card-header drag">
                    <span class="badge badge-secondary product-item">
                    ({{ order.locationCodeName }}){{ order.codeName }}/수량:{{ order.count }}/BOX:{{ order.box }}/EA:{{ order.ea }}
                    </span>
                </div>
                <div class="input-data">
                    <input type="hidden" name="order_list_id" value="{{order.id}}"/>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
