{% extends 'baseHTML.html' %}

{% load static %}


{% block stylesheet %}
	<link href="{% static 'css/releaseReg.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
            <div class="row justify-content-md-center">
              <div class="col-lg-12 col-sm-12">

                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> 출고등록
                    <div class="card-header-actions">
                      <a class="card-header-action" href="http://coreui.io/docs/components/bootstrap-jumbotron/" target="_blank">
                        <small class="text-muted">docs</small>
                      </a>
                    </div>
                  </div>

                  <div class="card-body">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active" data-toggle="tab" href="#stepOne" role="tab" aria-controls="stepOne">주문내역 출고등록</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#stepTwo" role="tab" aria-controls="stepTwo">출고등록</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="row tab-pane active animated fadeIn " id="stepOne" role="tabpanel">
                            <div class="col-lg-8">
                                <div class="form-inline input-daterange">

                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                        </div>
                                        <input name="start_date" type="date" class="form-control" id="start_date" >
                                    </div>

                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                        </div>
                                        <input name="end_date" type="date" class="form-control" id="end_date" >
                                    </div>

                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="far fa-building"></i></div>
                                        </div>
                                        {% include 'includes/releaseLocationForm.html' %}
                                    </div>
                                    <button type="button" class="btn btn-primary mb-2" id="search">Search</button>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <table class="table table-striped table-bordered " id="orderDatatable" style="width:100% !important;">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>타입</th>
                                        <th>특인</th>
                                        <th>주문일</th>
                                        <th>거래처</th>
                                        <th>제품명</th>
                                        <th>주문량(KG)</th>
                                        <th>주문수량(EA)</th>
                                        <th>메모</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div><!-- / .col-->
                        </div><!-- / .row-->

                        <div class="row tab-pane animated fadeIn " id="stepTwo" role="tabpanel">
                            <div class="col-md-12">
                                <button class="btn btn-dark" id="stockFind">재고조회</button>
                                <table class="table table-striped table-bordered datatable cardView" style="width:100% !important;">
                                    <thead>
                                    <tr>
                                        <th>제품</th>
                                        <th>생산일</th>
                                        <th>위치</th>
                                        <th>재고량(KG)</th>
                                        <th>재고수량(EA)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div><!-- / .col-->
                        </div><!-- / .row-->

                    </div><!-- / .tab-content-->
                  </div><!-- / .row-->
                </div>
              </div>
            </div>

        <!-- 출고등록 Modal(매뉴얼) -->
        <div class="modal fade everyModal" id="Modal" role="dialog">
            <div class="modal-dialog modal-success">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">출고 등록</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-4 codeName"></h5>
                        <form role="form" id="manualRelease">
                            <table class="table table-striped table-bordered cardView" id="result">
                            <thead>
                                <tr>
                                <th id="manualReleaseType">타입</th>
                                <th id="manualReleaseLocation">판매처</th>
                                <th id="manualReleaseYmd">출고일자</th>
                                <th>양(KG)</th>
                                <th >수량(EA)</th>
                                <th id="manualReleasePrice">가격</th>
                                <th id="manualReleaseMemo">메모</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="forms-row">
                                 {% include 'includes/releaseForm.html' %}
                                </tr>
                            </tbody>
                            </table>
                            <button type="submit"  class="btn btn-success ">OK</button>
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- 주문내역 출고등록 Modal(based on Order) -->
        <div class="modal fade everyModal" role="dialog" id="orderModal">
            <div class="modal-dialog modal-success">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">주문별 출고등록</h4>
                    </div>
                    <div class="modal-body">
                        <h6 class="releaseInfoOne"><span></span></h6>
                        <h6 class="releaseInfoTwo"><span></span></h6>
                        <form role="form" id="orderRelease">
                            <table class="table table-striped table-bordered cardView" id="orderResult">
                            <thead>
                                <tr>
                                    <th>제품명</th>
                                    <th>생산일</th>
                                    <th>재고량(KG)</th>
                                    <th>재고수량(EA)</th>
                                    <th>출하량(KG)</th>
                                    <th>출하수량(EA)</th>
                                    <th>출고일자</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                            <button type="submit"  class="btn btn-success">OK</button>
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/releaseReg.js' %}"></script>
{% endblock %}