{% extends 'baseHTML.html' %}

{% load static %}


{% block stylesheet %}
    <link href="{% static 'css/datepicker/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/releaseOrder.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="loader-backdrop" style="display: none">
        <div class="loader">Loading...</div>
    </div>


    <div class="form-row ">
        <div class="col-md-3 input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-calendar-alt"></i>
                </div>
            </div>
            <input name="ymd" type="date" class="form-control" id="order_date" />
            <input type="button" value="생성" class="btn btn-info create"/>
        </div>
    </div>

    <div class="row pb-2 pt-4">
        <div class="col-md-12" id="pallet-list">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <table class="table car-item datatable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>차량번호</th>
                            <th>타입</th>
                            <th>적재수량</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <table class="table location-item datatable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>거래처명</th>
                            <th>총개수</th>
                            <th>남은수</th>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row dragdrop" id="order-list-row">

            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <form class="dragdrop" id="pallet-bin">

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/releaseOrder.js' %}"></script>
{% endblock %}
