{% load humanize %}
{% load mathfilters %}
{% load custom %}
<!DOCTYPE html>
<html>
<head>
<title>원재료(원란) 현황</title>

<style>
body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 9pt "Tahoma";
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.page {
	width: 21cm;
	min-height: 29.7cm;
	padding: 0.5cm;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
	padding: 1cm;
	border: 2px black solid;
	height: 280mm;
	outline: 1cm white solid;
}

@page {
	size: A4;
	margin: 0;
}
@media print {
	.page {
		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
}
	
table {
  border-collapse: collapse;

}

td, th {
  white-space: nowrap;
  border: 1px solid #000000;
  text-align: center;
  padding: 2px;
}

#approvalTable
{
	float : right;
	width: 300px;
	margin-top : 10px;
}

.mainTable
{
	width : 100%;
	margin-top: 20px;
}

.sum
{
	background-color : #feffd0;
	font-weight : 800;
}

.blue
{
	color : blue;
}

.number
{
    text-align : right !important;
}

.totalSum td
{
    background-color : #94de97 !important;
}
</style>

</head>



<body>

<div class="page">

<div class="subpage">
	<div>
	<h1 style="text-align : center; margin-bottom : 0px;">원재료(원란) 현황</h1>
	<div style="text-align : center;"><span>생산일 : {{ start_date }} ~ {{ end_date }}</span></div>

	<table id="approvalTable" style="">
	<tr>
		<th rowspan="2">결재</th>
		<th>작성</th>
		<th>검토</th>
		<th>검토</th>
		<th>승인</th>
	</tr>
	<tr>
		<td style="width : 80px; height : 50px;"><br><br></td>
		<td style="width : 80px; height : 50px;"><br></td>
		<td style="width : 80px; height : 50px;"><br></td>
		<td style="width : 80px; height : 50px;"><br></td>
	</tr>
	</table>
	</div>


	<div style="clear : both;"></div>

	<div>
		<table class="mainTable">
		  <tr style="height:50px; background-color:#dcf0ff;">
			<th>구분</th>
			<th>입고일</th>
            <th style="width : 220px">농장명</th>
            <th>전일재고</th>
            <th>입고량</th>
            <th>투입량</th>
			<th>출고계</th>
			<th>현재재고</th>
		  </tr>

          {% if result_list %}
			{% for ele in result_list %}
                    {% if "소계" in ele.codeName %}
                      <tr>
                        <td class="sum " colspan="3">{{ele.codeName}}</td>
                        <td class="sum number">{{ele.previousStock|intcomma}}</td>
                        <td class="sum number">{{ele.in|intcomma }}</td>
                        <td class="sum number">{{ele.insert|intcomma }}</td>
                        <td class="sum number">{{ele.release|intcomma }}</td>
                        <td class="sum number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                    {% elif "합계" in  ele.codeName%}
                      <tr class="totalSum">
                        <td class="sum " colspan="3">{{ele.codeName}}</td>
                        <td class="sum number">{{ele.previousStock|intcomma}}</td>
                        <td class="sum number">{{ele.in|intcomma }}</td>
                        <td class="sum number">{{ele.insert|intcomma }}</td>
                        <td class="sum number">{{ele.release|intcomma }}</td>
                        <td class="sum number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                    {% else %}
                      <tr>
                        <td>{{ele.codeName}}</td>
                        <td>{{ele.in_ymd}}</td>
                        <td>{{ele.in_locationCodeName}}</td>
                        <td class="number">{{ele.previousStock|intcomma}}</td>
                        <td class="number">{{ele.in|intcomma }}</td>
                        <td class="number">{{ele.insert|intcomma }}</td>
                        <td class="number">{{ele.release|intcomma }}</td>
                        <td class="number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                    {% endif %}
			{% endfor %}
          {% endif %}


        {% if first_loop_reuslt %}
			{% for ele in first_loop_reuslt %}
                {% if "소계" in ele.codeName %}
                  <tr>
                    <td class="sum " colspan="3">{{ele.codeName}}</td>
                    <td class="sum number">{{ele.previousStock|intcomma}}</td>
                    <td class="sum number">{{ele.in|intcomma }}</td>
                    <td class="sum number">{{ele.insert|intcomma }}</td>
                    <td class="sum number">{{ele.release|intcomma }}</td>
                    <td class="sum number">{{ele.currentStock|intcomma }}</td>
                  </tr>
                {% elif "합계" in  ele.codeName%}
                  <tr class="totalSum">
                    <td class="sum " colspan="3">{{ele.codeName}}</td>
                    <td class="sum number">{{ele.previousStock|intcomma}}</td>
                    <td class="sum number">{{ele.in|intcomma }}</td>
                    <td class="sum number">{{ele.insert|intcomma }}</td>
                    <td class="sum number">{{ele.release|intcomma }}</td>
                    <td class="sum number">{{ele.currentStock|intcomma }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{ele.codeName}}</td>
                    <td>{{ele.in_ymd}}</td>
                    <td>{{ele.in_locationCodeName}}</td>
                    <td class="number">{{ele.previousStock|intcomma}}</td>
                    <td class="number">{{ele.in|intcomma }}</td>
                    <td class="number">{{ele.insert|intcomma }}</td>
                    <td class="number">{{ele.release|intcomma }}</td>
                    <td class="number">{{ele.currentStock|intcomma }}</td>
                  </tr>
                {% endif %}
			{% endfor %}
            </table>
        </div>
    </div>
    </div>

    <div class="page">
        <div class="subpage">
            <table class="mainTable">
              <tr style="height:50px; background-color:#dcf0ff;">
                <th>구분</th>
                <th>입고일</th>
                <th style="width : 220px">농장명</th>
                <th>전일재고</th>
                <th>입고량</th>
                <th>투입량</th>
                <th>출고계</th>
                <th>현재재고</th>
              </tr>
            {% for ele in loop_reuslt %}
                {% if forloop.counter|mod:45 == 0%}
                            </table>
                        </div>
                    </div>
                    </div>
                    <div class="page">
                        <div class="subpage">
                            <table class="mainTable">
                              <tr style="height:50px; background-color:#dcf0ff;">
                                <th>구분</th>
                                <th>입고일</th>
                                <th style="width : 220px">농장명</th>
                                <th>전일재고</th>
                                <th>입고량</th>
                                <th>투입량</th>
                                <th>출고계</th>
                                <th>현재재고</th>
                              </tr>
                {% else %}
                   {% if "소계" in ele.codeName %}
                      <tr>
                        <td class="sum" colspan="3">{{ele.codeName}}</td>
                        <td class="sum number">{{ele.previousStock|intcomma}}</td>
                        <td class="sum number">{{ele.in|intcomma }}</td>
                        <td class="sum number">{{ele.insert|intcomma }}</td>
                        <td class="sum number">{{ele.release|intcomma }}</td>
                        <td class="sum number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                   {% elif "합계" in  ele.codeName%}
                      <tr class="totalSum">
                        <td class="sum " colspan="3">{{ele.codeName}}</td>
                        <td class="sum number">{{ele.previousStock|intcomma}}</td>
                        <td class="sum number">{{ele.in|intcomma }}</td>
                        <td class="sum number">{{ele.insert|intcomma }}</td>
                        <td class="sum number">{{ele.release|intcomma }}</td>
                        <td class="sum number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                   {% else %}
                      <tr>
                        <td>{{ele.codeName}}</td>
                        <td>{{ele.in_ymd}}</td>
                        <td>{{ele.in_locationCodeName}}</td>
                        <td class="number">{{ele.previousStock|intcomma}}</td>
                        <td class="number">{{ele.in|intcomma }}</td>
                        <td class="number">{{ele.insert|intcomma }}</td>
                        <td class="number">{{ele.release|intcomma }}</td>
                        <td class="number">{{ele.currentStock|intcomma }}</td>
                      </tr>
                   {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

		</table>
	</div>
</div>
</div>


</body>
</html>