{% load widget_tweaks %}
{% load mathfilters %}

<td data-title="타입">{% render_field eggForm.type class="form-control type" %}</td>
<td data-title="출고일자">
    {% render_field eggForm.in_ymd %}
    {% render_field eggForm.ymd %}
    {% render_field eggForm.productCode %}
    {% render_field eggForm.in_location %}
    {% render_field eggForm.fakeYmd class="form-control" required="True"%}
</td>
<td data-title="판매처" style="min-width : 100px;">{% render_field eggForm.locationSale class="form-control location" style="width : 100%;"%}</td>
<td data-title="수량">{% render_field eggForm.count class="form-control count" required="True" %}</td>
<td data-title="판매금액">{% render_field eggForm.price class="form-control pirce" %}</td>
<td data-title="메모">{% render_field eggForm.memo class="form-control" %}</td>

<!--{{ eggForm.media.js }}-->