{% load widget_tweaks %}

      <table style="width : 100%">
          <tr>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>단가</label>
                        {% render_field productUnitPricesForm.price class="form-control price" %}
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>특인가</label>
                        {% render_field productUnitPricesForm.specialPrice class="form-control specialPrice" %}
                  </div>
              </td>
          </tr>
      </table>




