{% load widget_tweaks %}

      <table style="width : 100%">
          <tr>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>출고일</label>
                        {% render_field form.ymd class="form-control ymd" id="id_ymd" required="True" type="hidden"%}
                        {% render_field form.fakeYmd class="form-control fakeYmd" id="id_fakeYmd" required="True"%}
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>총 판매금액</label>
                        {% render_field form.price class="form-control  price" id="id_price" required="True" %}
                  </div>
              </td>
          </tr>
      </table>

      <table style="width : 100%">
          <tr>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>양(KG)</label>
                        {% render_field form.amount class="form-control amount" id="id_amount" required="True" %}
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>수량(EA)</label>
                        {% render_field form.count  class="form-control count" id="id_count" required="True" %}
                  </div>
              </td>
          </tr>
      </table>
      <div class="form-group">
          <label><i class="nav-icon icon-note"></i>메모</label>
            {% render_field form.memo id="id_memo" class="form-control" %}
      </div>




