{% load widget_tweaks %}

      <table style="width : 100%">
          <tr>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>총 판매금액</label>
                       {% render_field form.price class="form-control price" id="id_price" %}
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>부가세</label>
                      {% render_field form.releaseVat class="form-control releaseVat" id="id_releaseVat" %}
                  </div>
              </td>
          </tr>
      </table>

      <div class="form-group">
          <label><i class="nav-icon icon-note"></i>메모</label>
            {% render_field form.memo id="id_memo" class="form-control" %}
      </div>




