{% load widget_tweaks %}

      <table style="width : 100%">
          <tr>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>반품일</label>
                        {% render_field form.ymd class="form-control ymd" id="id_ymd_recall" required="True" type="hidden"%}
                        {% render_field form.fakeYmd class="form-control fakeYmd" id="id_fakeYmd_recall" required="True"%}
                        {% render_field form.productCode id="id_productCode_recall" %}
                        {% render_field form.storedLocationCode id="id_storedLocationCode_recall" %}
                        {% render_field form.productYmd id="id_productYmd_recall" %}
                        {% render_field form.productId id="id_productId_recall" %}
                        {% render_field form.amount_kg id="id_amount_kg_recall" %}
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>총 반품금액</label>
                        {% render_field form.price class="form-control price" id="id_price_recall" required="True" %}
                  </div>
              </td>
          </tr>
      </table>

      <table style="width : 100%">
          <tr>
              <td style="width : 50%">
                  <div class="form-group" >
                      <label><i class="nav-icon icon-drop"></i>반품량(KG)</label>
                        {% render_field form.amount class="form-control amount" id="id_amount_recall" required="True" %}
                  </div>
              </td>
              <td style="width : 50%">
                  <div class="form-group">
                      <label><i class="nav-icon icon-drop"></i>반품수량(EA)</label>
                        {% render_field form.count  class="form-control count" id="id_count_recall" required="True" %}
                  </div>
              </td>
          </tr>
      </table>
      <div class="form-group">
          <label><i class="nav-icon icon-note"></i>메모</label>
            {% render_field form.memo id="id_memo_recall" class="form-control" %}
      </div>



