.product-item {
    font-size: 85%;
    font-weight: 800;
    text-align: center;

}

.car-item {
    background-color: #f0f3f5;
    text-align: center;

}

.location-item {
    display: none;
    background-color: #f0f3f5;
    text-align: center;
}

#pallet-bin {
    background-color: #d5dbde;
    padding: 5px;
    outline: 2px dashed #92b0b3;
}
