body {
	font-size: 12px;
}
.top .header .title{
	width:750px;
	font-size:30px;
	text-align: center;
}
.table-sheet {
	width: 825px;
}
.table-sheet table{
	width: 100%;
	border-top: 1px solid green;
	border-left: 2px solid green;
	border-right: 2px solid green;
	border-bottom: 2px solid green;
	border-collapse: collapse;
}
.table-sheet > table:first-child {
	border-top: 2px solid green;
}
.table-sheet > table:last-child {
	border-bottom: 2px solid green;
}
.table-sheet th,
.table-sheet td {
	padding: 8px 0;
	border: 1px solid green;
}
.table-sheet thead {
	border-bottom: 2px solid green;
}
.table-footer table {
	text-align: center;
	border-top: 0px solid green;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}
.table-footer table th,
.table-footer table td{
	border-top: 0px;
	border-left: 2px solid green;
	border-right: 2px solid green;
	border-bottom: 2px solid green;
}

.table-footer .left {
	float: left;
}
.table-footer .left table {
	width:200px;
}

.table-footer .right {
	float: right;
}
.table-footer .center {
	display: inline-block;
	padding-left: 70px;
	padding-top: 60px;
	float: left;
	font-size: 13px;
}
.table-footer .right table {
	width:250px;
}
.line hr{
	display: inline-block;
	margin-top: 20px;
	border: none;
    border-top: 2px dotted gray;
    width: 100%
}
.top .header .right{
	float: right;
	display: inline-block;
	padding-right: 90px;
}
.top .header .left{
	display: inline-block;
}
.top .header .under{
	margin-top: 0px;
}
.table-head p{
	padding-left: 30px;
}
.table-head {
	padding-left: 30px;
}
