{% load widget_tweaks %}
{% load mathfilters %}

    {{ productUnitPricesForm.management_form }}

    {% for field in productUnitPricesForm %}
          <tr class="forms-row">
            <td class="no" data-title="No">{{ forloop.counter }}</td>
            <td data-title="거래처">
                {% render_field field.location class="form-control location" required="True"%}
            </td>
            <td data-title="제품">
                {% render_field field.product class="form-control product" required="True"%}
            </td>
            <td data-title="가격">{% render_field field.price class="form-control price" required="True"%}</td>
            <td data-title="특인가">
                <div class="input-group">
                    {% render_field field.specialPrice class="form-control specialPrice" %}
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            </td>
    {% endfor %}

    {{ productUnitPricesForm.media.js }}