{% load widget_tweaks %}
{% load mathfilters %}

    {{ ProductOEMForm.management_form }}

    {% for field in ProductOEMForm %}
          <tr class="forms-row">
            <td class="no" data-title="No">{{ forloop.counter }}</td>
            <td data-title="구매일자">
                {% render_field field.fakePurchaseYmd class="form-control fakePurchaseYmd" required="True"%}
                {% render_field field.purchaseYmd class="purchaseYmd"%}
                <!--{% render_field field.amount_kg class="amount_kg" %}-->
            </td>
            <td data-title="생산일자">
                {% render_field field.fakeYmd class="form-control fakeYmd" required="True"%}
                {% render_field field.ymd class="ymd"%}
            </td>
            <td data-title="거래처">{% render_field field.location class="form-control location" required="True"%}</td>
            <td data-title="제품명">{% render_field field.product class="form-control product" required="True" %}</td>
            <td data-title="수량(EA)">{% render_field field.count  class="form-control count" required="True" %}</td>
            <!--<td data-title="양(KG)">{% render_field field.amount class="form-control amount" required="True" %}</td>-->
            <td data-title="공급가">{% render_field field.purchaseSupplyPrice class="form-control purchaseSupplyPrice" required="True" %}</td>
            <td data-title="부가세">{% render_field field.purchaseVat class="form-control purchaseVat" %}</td>
            <td data-title="메모">
                <div class="input-group">
                    {% render_field field.memo class="form-control" %}
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            </td>
    {% endfor %}

    {{ ProductOEMForm.media.js }}