{% load widget_tweaks %}
{% load mathfilters %}

        <td data-title="타입">
            {% render_field releaseForm.productId %}
            {% render_field releaseForm.productYmd %}
            {% render_field releaseForm.productCode %}
            {% render_field releaseForm.storedLocationCode %}
            {% render_field releaseForm.releaseOrder %}
            {% render_field releaseForm.amount_kg %}
            {% render_field releaseForm.totalCount %}
            {% render_field releaseForm.type class="form-control type" %}
        </td>
        <td data-title="판매처">{% render_field releaseForm.location class="form-control location" required="True"%}</td>
        <td data-title="출고일자">{% render_field releaseForm.ymd class="form-control ymd" id="datepicker" required="True"%}</td>
        <td data-title="양(KG)">{% render_field releaseForm.amount class="form-control amount" required="True" %}</td>
        <td data-title="수량(EA)">{% render_field releaseForm.count  class="form-control count" required="True" %}</td>
        <td data-title="가격">{% render_field releaseForm.price class="form-control price" required="True" %}</td>
        <td data-title="메모">{% render_field releaseForm.memo class="form-control" %}</td>

{{ releaseForm.media.js }}