{% load widget_tweaks %}
{% load mathfilters %}

  {{ stepOneForm.non_field_errors }}

  {% for hidden_field in stepOneForm.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% for field in stepOneForm.visible_fields %}

        {% if field.help_text|length > 0 %}
         {% if forloop.counter|mod:2 == 1 %}
          <tr class="table-info">
         {% else %}
          <tr>
         {% endif %}
            <td>{{ forloop.counter|intdiv:3|add:1 }}</td>
            <td>{{ field.help_text}}</td>
            <td class="text-center">{{ field.label_tag}}</td>
            <td>
              {{ field.errors }}
              {% render_field field class="form-control" %}
            </td>
        {% else %}
              <td>{% render_field field class="form-control"  %}</td>
        {% endif %}


    {% endfor %}