{% load widget_tweaks %}
{% load mathfilters %}

    {% for field in stepThreeForm.visible_fields %}

        {% if field.help_text|length > 0 %}
         {% if forloop.counter|mod:4 == 1 %}
          <tr class="table-success">
         {% else %}
          <tr>
         {% endif %}
            <td data-title="No">{{ forloop.counter|intdiv:2|add:1 }}</td>
            <td data-title="코드">{{ field.help_text}}</td>
            <td class="text-center" data-title="제품">{{ field.label_tag}}</td>
            <td data-title="공정품발생량">
              {% render_field field class="form-control" %}
            </td>
        {% else %}
              <td data-title="메모">{% render_field field class="form-control"  %}</td>
        {% endif %}

    {% endfor %}