{% load widget_tweaks %}
{% load mathfilters %}

  {{ stepOneForm.non_field_errors }}

  {% for hidden_field in stepOneForm.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% for field in stepOneForm.visible_fields %}

        {% if field.help_text|length > 0 %}
         {% if forloop.counter|mod:2 == 1 %}
          <tr class="table-info">
         {% else %}
          <tr>
         {% endif %}
            <td data-title="No">{{ forloop.counter|intdiv:3|add:1 }}</td>
            <td data-title="코드">{{ field.help_text}}</td>
            <td class="text-center" data-title="제품">{{ field.label_tag}}</td>
            <td data-title="할란량kg">
              {{ field.errors }}
              {% render_field field class="form-control" %}
            </td>
        {% else %}
        {% if field.label == 'memo' %}
              <td data-title="메모">{% render_field field class="form-control"  %}</td>
        {% else %}
              <td data-title="할란사용kg">{% render_field field class="form-control"  %}</td>
        {% endif %}
        {% endif %}


    {% endfor %}