{% load widget_tweaks %}
{% load mathfilters %}
{% load custom %}

    {% for field in stepTwoForm.visible_fields %}
        {% if field.help_text|length > 0 %}
         {% if forloop.counter|mod:4 == 1 %}
          <tr class="table-danger">
         {% else %}
          <tr>
         {% endif %}
            {% with forloop.counter|intdiv:2 as seq %}
            <td data-title="No">{{ forloop.counter|intdiv:2|add:1 }}</td>
            <td data-title="코드">{{ field.help_text}}</td>
            <td class="text-center" data-title="제품">{{ field.label_tag}}</td>
         {% if tankValue %}
            <td class="text-center" data-title="현재고">{{tankValue|lookup_amount:seq}}</td>
            <td data-title="공정품투입량">
              {% render_field field class="form-control" max=tankValue|lookup_amount:seq %}
            </td>
         {% else %}
            <td class="text-center" data-title="현재고">0</td>
            <td data-title="공정품투입량">
              {% render_field field class="form-control" max=0%}
            </td>
         {% endif %}
            {% endwith %}
        {% else %}
              <td data-title="메모">{% render_field field class="form-control"  %}</td>
        {% endif %}

    {% endfor %}