{% load widget_tweaks %}
{% load mathfilters %}

    {{ packingForm.management_form }}

    {% for field in packingForm %}
          <tr class="forms-row">
            <td class="no" data-title="No">{{ forloop.counter }}</td>
            <td data-title="거래처">
                {% render_field field.ymd %}
                {% render_field field.location class="form-control location" required="True"%}
            </td>
            <td data-title="제품명">{% render_field field.product class="form-control product" required="True" %}</td>
            <td data-title="수량(EA)">{% render_field field.count  class="form-control count" required="True" %}</td>
            <td data-title="가격">{% render_field field.price class="form-control price" required="True" %}</td>
            <td data-title="메모">
                <div class="input-group">
                    {% render_field field.memo class="form-control" %}
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            </td>
    {% endfor %}

    {{ packingForm.media.js }}