{% load widget_tweaks %}
{% load mathfilters %}

        <td>
            {% render_field releaseForm.productId %}
            {% render_field releaseForm.productYmd %}
            {% render_field releaseForm.productCode %}
            {% render_field releaseForm.storedLocationCode %}
            {% render_field releaseForm.type class="form-control type" %}
        </td>
        <td>{% render_field releaseForm.location class="form-control location" style="width : 200px;" required="True"%}</td>
        <td>{% render_field releaseForm.ymd class="form-control ymd" id="datepicker" style="width : 150px;" required="True"%}</td>
        <td>{% render_field releaseForm.amount class="form-control amount" required="True" %}</td>
        <td>{% render_field releaseForm.count  class="form-control count" required="True" %}</td>
        <td>{% render_field releaseForm.price class="form-control price" required="True" %}</td>
        <td>{% render_field releaseForm.memo class="form-control" %}</td>

{{ releaseForm.media.js }}