{% load widget_tweaks %}
{% load mathfilters %}

    {{ stepFourForm.management_form }}
    {% for field in stepFourForm %}

          <tr class="forms-row">
            <td>{{ forloop.counter }}</td>
            <td>{% render_field field.product style="width : 200px;" %}</td>
            <td>{% render_field field.amount class="form-control" %}</td>
            <td>{% render_field field.count class="form-control" %}</td>
            <td>
                <div class="input-group">
                    {% render_field field.memo class="form-control" %}
                    <div class="input-group-append">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            </td>
    {% endfor %}

    {{ stepFourForm.media.js }}